[ ca ]
default_ca = CA_default

[ CA_default ]
dir              = .
certs		     = $dir/certsdb
new_certs_dir	 = $certs
database	     = $dir/index.txt
certificate	     = $dir/cacert.pem
private_key	     = $dir/private/cakey.pem
serial		     = $dir/serial
crldir		     = $dir/crl
crlnumber	     = $dir/crlnumber
crl		         = $crldir/crl.pem
RANDFILE	     = $dir/private/.rand
x509_extensions  = usr_cert
copy_extensions	 = copy
name_opt         = ca_default
cert_opt         = ca_default
default_days     = 365
default_crl_days = 30
default_md       = sha1
preserve         = no
policy           = policy_match

[ policy_match ]
countryName            = match
stateOrProvinceName    = match
localityName           = match
organizationName       = match
organizationalUnitName = match
commonName             = supplied
emailAddress           = optional

[req]
defaults_bits      = 4096
default            = privkey.pem
distinguished_name = req_distinguished_name
attributes         = req_attributes
x509_extensions    = v3_ca
req_extensions     = v3_req
prompt             = no
string_mask        = nombstr

[req_distinguished_name]
countryName                    = Country Name (2 letter code)
countryName_default            = FR
countryName_min                = 2
countryName_max                = 2
stateOrProvinceName            = State or Province Name (full name)
stateOrProvinceName_default    = Alsace
llocalityName                  = Locality Name (eg, city)
localityName_default           = Strasbourg
0.organizationName             = Organization Name (eg, company)
0.organizationName_default     = Famille
organizationalUnitName         = Organizational Unit Name (eg, section)
organizationalUnitName_default = Bodin
commonName                     = Common Name (eg, YOUR name)
commonName_max                 = 64
emailAddress                   = Email Address
emailAddress_max               = 64
emailAddress_default           = mathieubodin@icloud.com

[req_attributes]

[ usr_cert ]
basicConstraints       = CA:false
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid,issuer
subjectAltName         = email:move

[ usr_cert_has_san ]
basicConstraints       = CA:false
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid,issuer

[v3_req]
subjectAltName = email:move

[ v3_ca ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer:always
basicConstraints       = CA:true
subjectAltName         = email:move

[ v3_ca_has_san ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer:always
basicConstraints       = CA:true
